Homestead.yaml
Homestead.json
.idea
.vagrant
.env
.phpstorm.meta.php
node_modules
public/build
public/css
public/js
public/uploads
public/packages
resources/assets/vendor
vendor
bower_components
storage/forms/
.DS_Store
