#root {
  min-height: 100vh;
  height: 100vh;
}


head,
body {
  background-color: #ecf0f5;
}
.content-wrapper {
  min-height: initial !important;
}
.bg-auth {
  background-color: #00355d;
  color: white;
  font-weight: bold;
}
.bg-auth:hover {
  color: #ffffff;
}
.bg-dark-blue-gradient {
  background: #085988;
  background: -moz-linear-gradient(top, #085988 0%, #4f90a9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#085988), color-stop(100%,#4f90a9));
  background: -webkit-linear-gradient(top, #085988 0%, #4f90a9 100%);
  background: -o-linear-gradient(top, #085988 0%, #4f90a9 100%);
  background: -ms-linear-gradient(top, #085988 0%, #4f90a9 100%);
  background: linear-gradient(to bottom, #085988 0%, #4f90a9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00085988', endColorstr='#004f90a9', GradientType=0 );
  color: #fff;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 190px;
}
.validation button {
  list-style: none;
}
.validation span {
  display: list-item;
  margin-left: 10px;
}
.bg-black-50 {
  background-color: #222222;
}
body.bg-auth {
  background-color: #eeeeee;
}
.bg-gray-50 {
  background-color: #eaeaec !important;
  color: #444;
}
.auth-header {
  background-color: #eeeeee;
  border-radius: 4px;
}
.auth-header img {
  max-width: 100%;
  display: block;
  margin: 0px auto;
}
.auth-header .made-by {
  text-align: center;
  font-size: 180%;
  color: #6da1e4;
  position: relative;
  top: -10px;
}
.auth-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}
.login-box {
  margin: 10px auto;
}
.login-box .header {
  background: none repeat scroll 0 0 #00355d;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 20px 10px;
  text-align: center;
}
.login-box .body {
  background: none repeat scroll 0 0 #fff;
  color: #444;
  padding: 10px 20px;
}
.login-box .body .fa {
  margin-top: 10px;
}
.login-box .footer {
  background: none repeat scroll 0 0 #fff;
  color: #444;
  padding: 10px 20px;
  border-radius: 0 0 4px 4px;
}
.login-box .footer a {
  padding-left: 0;
}
.dataTables_wrapper label {
  font-weight: normal;
}
.dataTables_wrapper input[type="text"] {
  width: 16em;
}
.dataTables_wrapper .destroy {
  font-family: FontAwesome, 'Source Sans Pro';
}
table.table thead .sorting_asc::after {
  font-size: 10px;
  margin-left: 5px;
}
table.table thead .sorting_desc::after {
  font-size: 10px;
  margin-left: 5px;
}
table.table thead .sorting::after {
  font-size: 10px;
  margin-left: 5px;
}
table.table tbody tr:nth-of-type(2n+1) {
  background-color: #f4f4f4;
}
form .has-error .text-danger {
  margin-top: 15px;
}
.uploaded-file {
  margin-top: -60px;
  float: right;
}
.category {
  margin-top: 25px;
}
.category a {
  color: #fff;
  padding: 2px 1em;
}
.post-title a {
  color: #767676;
}
ul.languages {
  padding-left: 0;
}
ul.languages li {
  display: inline;
  list-style: none;
  cursor: pointer;
}
ul.languages li img {
  height: 32px;
  width: 32px;
}
.chosen-one:hover {
  cursor: pointer;
  opacity: 0.8;
}
.ol-buttons {
  float: right;
  margin-top: 8px;
}
.ol-buttons .list-inline li {
  margin-top: 0;
  margin-right: 5px;
  font-weight: 400;
}
.list-group-item {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  clear: both;
  width: 100%;
}
.inline-edit {
  color: #1c6d23;
  margin-right: 10px;
}
.inline-edit:hover {
  color: #2fad38;
}
.inline-show {
  color: #013461;
  margin-right: 10px;
}
.inline-show:hover {
  color: #015eb1;
}
.inline-delete {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #bc0000;
  font-family: FontAwesome, "Source Sans Pro";
}
.inline-delete:hover {
  color: #f50000;
}
.nav-tabs-custom ul li a {
  color: #707070;
}
.item-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.item-list li {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #ddd;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 3px;
  margin-top: -1px;
  padding: 9px;
  position: relative;
}
.item-list li label {
  font-size: 13px;
}
.item-list li .selected {
  background-color: #f4f9fc;
  color: #8090a0;
}
.item-list li .selected label,
.item-list li .selected .lbl {
  color: #8090a0;
  text-decoration: line-through;
}
.item-list li .selected label .inline,
.item-list li .selected .lbl .inline {
  display: inline-block;
}
.item-list li:nth-child(1) {
  border-left-color: #80f31f;
}
.item-list li:nth-child(2) {
  border-left-color: #a5de0b;
}
.item-list li:nth-child(3) {
  border-left-color: #c7c101;
}
.item-list li:nth-child(4) {
  border-left-color: #e39e03;
}
.item-list li:nth-child(5) {
  border-left-color: #f6780f;
}
.item-list li:nth-child(6) {
  border-left-color: #fe5326;
}
.item-list li:nth-child(7) {
  border-left-color: #fb3244;
}
.item-list li:nth-child(8) {
  border-left-color: #ed1868;
}
.item-list li:nth-child(9) {
  border-left-color: #b601b3;
}
.item-list li:nth-child(10) {
  border-left-color: #9106d3;
}
.item-list li:nth-child(11) {
  border-left-color: #6b16ec;
}
.item-list li:nth-child(12) {
  border-left-color: #472ffa;
}
.item-list li:nth-child(13) {
  border-left-color: #2850fe;
}
.item-list li:nth-child(14) {
  border-left-color: #1175f7;
}
.item-list li:nth-child(15) {
  border-left-color: #039be5;
}
.item-list li:nth-child(16) {
  border-left-color: #01beca;
}
.right-charts {
  height: 195px;
}
#world-map {
  height: 700px;
}
.box-special {
  background: #f9f9f9 none repeat scroll 0 0;
  margin: 150px auto;
  text-align: center;
}
.bg-gray-white .box-header {
  color: #fff;
}
.bg-blue-special {
  background-color: #55a9bc;
}
.bg-gray-white {
  background-color: #f9f9f9;
  border-top: medium none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.bg-gray-white .box-header {
  background: #3c8dbc none repeat scroll 0 0;
}
.user-image {
  max-height: 150px;
}
hr {
  margin-bottom: 0;
  margin-top: 10px;
}
/** DataTables styling **/
.table.datatable:not(.fixedHeader-floating) {
  width: 100% !IMPORTANT;
}
.table.datatable th,
.table.datatable td {
  vertical-align: middle;
}
.table .expander {
  display: none;
  width: 4px !important;
  padding-left: 0px;
}
.table.dtr-inline.collapsed .expander {
  display: table-cell !important;
}
form.datatable-form .form-group .form-control-feedback {
  display: none;
  right: 16px !IMPORTANT;
}
form.datatable-form .form-group.has-feedback .form-control-feedback,
form.datatable-form .form-group .has-feedback .form-control-feedback {
  top: 36px;
  display: inline-block;
}
form.datatable-form .form-horizontal .form-group.has-feedback .form-control-feedback,
form.datatable-form .form-horizontal .form-group .has-feedback .form-control-feedback {
  top: 10px;
  display: inline-block;
}
form.datatable-form .form-group.search-form.has-feedback .form-control-feedback,
form.datatable-form .form-group.search-form .has-feedback .form-control-feedback {
  top: 0px;
}
form.datatable-form div:not(.has-feedback) > .form-control-feedback {
  display: none;
}
div.form-group.required label::after {
  content: " *";
  color: red;
}
.missing-field,
.form-control.missing-field {
  background-color: #fff0e7;
}
span.filename {
  display: inline-block;
  border: 1px solid grey;
  font-family: monospace;
}
select.form-control { /* for the affiliation select box on the register page */
  font-weight: bold;
}
