.skin-blue .main-header .navbar {
  background-color: #00355d;
}

.skin-blue .main-header .logo {
  background-color: #002643;
}

.skin-blue .main-header .logo:hover {
  background-color: #00243e;
}

.skin-blue .left-side,
.skin-blue .main-sidebar,
.skin-blue .wrapper {
  background-color: #222;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li > a:hover {
  background: #151515;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li > a:hover {
  color: #fff;
  border-left-color: #00355d;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  background: #2f2f2f;
}

.skin-blue .treeview-menu > li > a {
  color: #bfbfbf;
}

.skin-blue .treeview-menu > li > a:hover {
  color: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
  background-color: #002643;
}
